.h1{
  font-family: 'Send Flowers', cursive;
}


.header_cart {
  width: 150px;
  text-align: center;
  position: relative;
}
.header_cart-icon {
    font-size: 2.4 rem;
    color: var(--white-color);
    margin-top: 6px;
}

 
 